:root {
    --header-height: 120px;
    --footer-height: 80px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));

    --main-yellow: #D0B05B;
    --main-background: #2A0D58;
    --text-dark-color: black;
}

a, a:hover, a:active, a:visited
{
    color: var(--text-dark-color);
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--main-yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: 130.703%;
    /* 60.123px */
    letter-spacing: 6.68px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar
{
    display: none;
}

body header {
    width: 100%;
    min-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background-color: var(--main-background);
    z-index: 1;
}

body header img {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


body header img.hamburger{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

body header img.logo{
    height: 80px;
    height: 80px;
    margin-right: 30px;
}


body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

body main div.title,
body main div.elements {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y:unset;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body main div.elements::-webkit-scrollbar,
body main div.title::-webkit-scrollbar {
    display: none;
  }


body main div.elements div.element-block
{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    border: solid 5px var(--main-yellow);
    box-sizing: border-box;
    padding: 5px;
}
body main div.elements div.element-block a,
body main div.elements div.element-block a img 
{
    object-fit: contain;
    height: 100%;
}


body main div.title div.title-line-left {
    width: 15%;
    height: 5px;
    background-color: var(--main-yellow);
}
body main div.title h3{
    text-wrap: nowrap;
}

body main div.title div.title-line-right{
    flex-grow: initial;
    width: 100%;
    height: 5px;
    background-color: var(--main-yellow);
}

body main div.title h3 {
    color: var(--main-yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130.703%;
    /* 20.913px */
    letter-spacing: 1.28px;
}

body main div.title div.title-line-right {
    height: 5px;
    background-color: var(--main-yellow);
}

body main div.form-button 
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100px;
  right: 40px;
  border-radius: 35px;
  background-color: var(--main-yellow);
  padding: 5px;
}
body main div.form-button input 
{
  display: none;
}
body main div.form-button:hover{
  cursor: pointer;
}

body main div.form-button img 
{
  width: 60px;
  height: 60px;
  filter: opacity(50%);
}

body div.messagebox
{
  position: fixed;
  top: 150px;
  right: calc(50% - 20vw);
  width: 40vw;
  height: 30vh;
  border-radius: 20px;
  background-color: var(--main-background);
  border: var(--main-yellow) solid 6px;
  color: white;
  z-index: 2;
}
body div.messagebox h3
{
  margin-top: 30px;
  display: block;
  text-align: center;
}
body div.messagebox div.messageCancel
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
body div.messagebox div.messageCancel:hover 
{
  cursor: pointer;
}
body div.messagebox div.messageCancel img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(100%);
}