body main {
    height: calc(100vh - var(--header-height));
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
    overflow-y: hidden;
}

body main div.vertical-line{
    width: 6px;
    background-color: var(--main-yellow);
    height: 90%;
    margin: 50px 0px;
    box-sizing: content-box;
}

body main div.title,
body main div.elements {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y:unset;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body main div.elements::-webkit-scrollbar,
body main div.title::-webkit-scrollbar {
    display: none;
  }


body main div.elements div.element-block
{
    flex-shrink: 0;
    flex-grow: 0;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    border: solid 5px var(--main-yellow);
    box-sizing: border-box;
    padding: 5px;
}
body main div.elements div.element-block a,
body main div.elements div.element-block a img 
{
    object-fit: contain;
    height: 100%;
}


body main div.title div.title-line-left {
    width: 15%;
    height: 5px;
    background-color: var(--main-yellow);
}
body main div.title h3{
    text-wrap: nowrap;
}

body main div.title div.title-line-right{
    flex-grow: initial;
    width: 100%;
    height: 5px;
    background-color: var(--main-yellow);
}

body main div.title h3 {
    color: var(--main-yellow);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130.703%;
    /* 20.913px */
    letter-spacing: 1.28px;
}

body main div.title div.title-line-right {
    height: 5px;
    background-color: var(--main-yellow);
}